@import "blueprint/grid";
@import "compass/css3/border-radius";

html {
  // Always show scrollbar
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a {
  color: #0069d6;
  text-decoration: none;
  line-height: inherit;
  font-weight: inherit;
  &:hover {
    color: #00438a;
    text-decoration: underline;
  }
}

#flash {
  > div {
    display: block;
  }
}

body {
  background-color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  color: #404040;
  .container {
    @include container;
    margin-top: 60px;
    .main {
      @include column(16);
      position: relative;
    }
    .sidebar {
      @include column(7);
      @include float-right;
    }
  }
  &.no-sidebar {
    .main {
      @include column(24);
    }
  }
}


form {
  .clearfix {
    margin-bottom: 10px;
  }
  label {
    font-weight: bold;
  }
  label,
  input,
  select,
  textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
  }
  input[type=checkbox],
  input[type=radio] {
    cursor: pointer;
  }
  input[type=text],
  input[type=email],
  input[type=password],
  textarea,
  select {
    display: block;
    width: 210px;
    height: 18px;
    padding: 4px;
    font-size: 13px;
    line-height: 18px;
    color: #808080;
    border: 1px solid #ccc;
    @include border-radius(3px);
  }
  input,
  textarea {
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    &:focus {
      outline: 0;
      border-color: rgba(82, 168, 236, 0.8);
      -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
      -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
    }
  }
  select,
  input[type=file] {
    height: 27px;
    line-height: 27px;
  }

  input[type=file]:focus,
  input[type=checkbox]:focus,
  select:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: 1px dotted #666;
  }
}

.well {
  background-color: #f5f5f5;
  margin-bottom: 20px;
  padding: 19px;
  min-height: 20px;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  @include border-radius(4px);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.fc-button-next,
.fc-button-prev,
.fc-button-today,
.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  padding: 5px 14px 6px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333;
  font-size: 13px;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  @include border-radius(4px);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
  &:hover {
    background-position: 0 -15px;
    color: #333;
    text-decoration: none;
  }
  &:focus {
    outline: 1px dotted #666;
  }
  &.primary {
    color: #ffffff;
    background-color: #0064cd;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
    background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
    background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
    background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
    background-image: -o-linear-gradient(top, #049cdb, #0064cd);
    background-image: linear-gradient(top, #049cdb, #0064cd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #0064cd #0064cd #003f81;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  }
  &.danger {
    color: #fff;
    background-color: #c43c35;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
    background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: linear-gradient(top, #ee5f5b, #c43c35);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #c43c35 #c43c35 #882a25;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  }
}

.topbar {
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  overflow: visible;
  a {
    color: #bfbfbf;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  }
  .topbar-inner {
    background-color: #222;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#333333), to(#222222));
    background-image: -moz-linear-gradient(top, #333333, #222222);
    background-image: -ms-linear-gradient(top, #333333, #222222);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #222222));
    background-image: -webkit-linear-gradient(top, #333333, #222222);
    background-image: -o-linear-gradient(top, #333333, #222222);
    background-image: linear-gradient(top, #333333, #222222);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    .container {
      @include container;
      .brand {
        float: left;
        display: block;
        padding: 8px 0;
        color: #ffffff;
        font-size: 20px;
        font-weight: 200;
        line-height: 1;
      }
      ul {
        display: block;
        float: left;
        margin: 0 10px 0 0;
        position: relative;
        padding-left: 0;
        left: 0;
        > li {
          display: block;
          float: left;
          a {
            display: block;
            float: none;
            padding: 10px 10px 11px;
            line-height: 19px;
            text-decoration: none;
          }
        }
      }
      #secondary-nav {
        @include float-right;
      }
    }
  }
}

table {
  width: 100%;
  margin-bottom: 18px;
  padding: 0;
  font-size: 13px;
  border-collapse: collapse;
  border: 1px solid #ddd;
  th,
  td {
    padding: 10px 10px 9px;
    line-height: 18px;
    text-align: left;
  }
  th {
    padding-top: 9px;
    font-weight: bold;
    vertical-align: middle;
  }
  td {
    vertical-align: top;
    border-top: 1px solid #ddd;
    &.actions a {
      margin-right: 10px;
    }
  }
  tbody th {
    border-top: 1px solid #ddd;
    vertical-align: top;
  }
  tbody tr:nth-child(odd) td,
  tbody tr:nth-child(odd) th {
    background-color: #f9f9f9;
  }
  tbody tr:hover td,
  tbody tr:hover th {
    background-color: #f5f5f5;
  }
}

.alert-message {
  position: relative;
  padding: 7px 15px;
  margin-bottom: 18px;
  color: #fff;
  background-color: #eedc94;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fceec1), to(#eedc94));
  background-image: -moz-linear-gradient(top, #fceec1, #eedc94);
  background-image: -ms-linear-gradient(top, #fceec1, #eedc94);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fceec1), color-stop(100%, #eedc94));
  background-image: -webkit-linear-gradient(top, #fceec1, #eedc94);
  background-image: -o-linear-gradient(top, #fceec1, #eedc94);
  background-image: linear-gradient(top, #fceec1, #eedc94);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fceec1', endColorstr='#eedc94', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #eedc94 #eedc94 #e4c652;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border-width: 1px;
  border-style: solid;
  @include border-radius(4px);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  p { margin: 0; }
  ul { padding-left: 20px; }
  &.success,
  &.notice {
    background-color: #57a957;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
    background-image: -moz-linear-gradient(top, #62c462, #57a957);
    background-image: -ms-linear-gradient(top, #62c462, #57a957);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
    background-image: -webkit-linear-gradient(top, #62c462, #57a957);
    background-image: -o-linear-gradient(top, #62c462, #57a957);
    background-image: linear-gradient(top, #62c462, #57a957);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #57a957 #57a957 #3d773d;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  }
  &.alert,
  &.error {
    background-color: #c43c35;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
    background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: linear-gradient(top, #ee5f5b, #c43c35);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #c43c35 #c43c35 #882a25;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  }

  .close {
    text-decoration: none;
    float: right;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    text-shadow: 0 1px 0 #ffffff;
    filter: alpha(opacity=25);
    -khtml-opacity: 0.25;
    -moz-opacity: 0.25;
    opacity: 0.25;
    &:hover {
      color: #000000;
      text-decoration: none;
      filter: alpha(opacity=40);
      -khtml-opacity: 0.4;
      -moz-opacity: 0.4;
      opacity: 0.4;
    }
  }
}

.label {
  padding: 1px 3px 2px;
  font-size: 9.75px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: #bfbfbf;
  @include border-radius(3px);
  &.cancelled,
  &.important {
    background-color: #c43c35;
  }
  &.pending {
    background-color: #f89406;
  }
  &.authorised,
  &.success {
    background-color: #46a546;
  }
  &.notice {
    background-color: #62cffc;
  }
}

// Typography
p {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  margin-bottom: 9px;
}
p small {
  font-size: 11px;
  color: #bfbfbf;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #404040;
}
h1 {
  margin-bottom: 18px;
  font-size: 30px;
  line-height: 36px;
}
h1 small {
  font-size: 18px;
}
h2 {
  font-size: 24px;
  line-height: 36px;
}
h2 small {
  font-size: 14px;
}
h3,
h4,
h5,
h6 {
  line-height: normal;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 13px;
  color: #bfbfbf;
  text-transform: uppercase;
}

#user-info {
  padding: 10px;
  background-color: #f5f5f5;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f5f5f5));
  background-image: -moz-linear-gradient(#f9f9f9, #f5f5f5);
  background-image: -ms-linear-gradient(#f9f9f9, #f5f5f5);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #f5f5f5));
  background-image: -webkit-linear-gradient(#f9f9f9, #f5f5f5);
  background-image: -o-linear-gradient(#f9f9f9, #f5f5f5);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f5f5f5', GradientType=0)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f5f5f5', GradientType=0);
  background-image: linear-gradient(#f9f9f9, #f5f5f5);
  border: 1px solid #eee;
  @include border-radius(4px);
  h3 { margin-top: 0; }
  .gravatar-wrapper {
    @include column(3);
  }
  .user-info-wrapper {
    @include column(12, true);
  }
  @include clearfix;

  form {
    label,
    select,
    #days-remaining-wrapper {
      @include float-left;
      line-height: 25px;
      margin-right: 10px;
      span {
        font-weight: bold;
      }
    }
  }
}

img.gravatar {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  width: 75px;
  height: 75px;
}

tr.user {
  form {
    div.string,
    input[type="submit"] {
      float: left;
      margin-right: 10px;
    }

    input {
      &[type="submit"] {
        margin: 0;
      }
      &.update-working-days {
        width: 25px;
        text-align: center;
      }
    }
  }
}

// Fullcalendar overrrides
#calendar {
  margin-top: 20px;
  table {
    border: none;
    tr.fc-last {
      td {
        border-bottom: 1px solid #ddd;
      }
    }
    &.fc-header {
      border: none;
      tbody {
        tr:nth-child(odd) td,
        tr:nth-child(odd) th {
          background-color: inherit;
        }
      }
      td {
        border-top: none;
      }
    }
    &.fc-border-separate {
      td {
        border: 1px solid #ddd;
        border-width: 1px 0 0 1px;
        &.fc-last {
          border-right: 1px solid #ddd;
        }
      }
    }
    td.fc-today {
      background-color: #FEFBF3;
    }
  }
  .fc-event {
    cursor: pointer;
  }
  .fc-header-left {
    .fc-button {
      border: 1px solid #ddd;
      padding: 0 14px;
    }
    .fc-button-today {
      text-transform: capitalize;
    }
    .fc-button-prev {
      @include border-radius(8px 0 0 8px);
      .fc-button-inner {
        background: transparent url(../images/arrow.png) no-repeat 0 4px;
      }
    }
    .fc-button-next {
      @include border-radius(0 8px 8px 0);
      .fc-button-inner {
        background: transparent url(../images/arrow.png) no-repeat 0 4px;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
      }
    }
  }
}

dl {
  dt,
  dd {
    margin-bottom: 10px;
  }
  dt {
    width: 140px;
    font-weight: bold;
    float: left;
    clear: left;
  }
}

#calendar-key {
  position: absolute;
  right: 2px;
  width: 150px;
  margin: 0;
  dt,
  dd {
    margin-bottom: 2px;
  }
  dt {
    width: 90px;
  }
  dd {
    width: 60px;
    height: 18px;
    text-indent: -9999px;
    margin: 0 0 2px 90px;
  }
}
