/* line 4, sass/application.scss */
html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 12, sass/application.scss */
a {
  color: #0069d6;
  text-decoration: none;
  line-height: inherit;
  font-weight: inherit;
}
/* line 17, sass/application.scss */
a:hover {
  color: #00438a;
  text-decoration: underline;
}

/* line 24, sass/application.scss */
#flash > div {
  display: block;
}

/* line 29, sass/application.scss */
body {
  background-color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  color: #404040;
}
/* line 36, sass/application.scss */
body .container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  margin-top: 60px;
}
/* line 39, sass/application.scss */
body .container .main {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 630px;
}
/* line 147, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body .container .main {
  overflow-x: hidden;
}
/* line 42, sass/application.scss */
body .container .sidebar {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 270px;
  display: inline;
  float: right;
}
/* line 147, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body .container .sidebar {
  overflow-x: hidden;
}
/* line 48, sass/application.scss */
body.no-sidebar .main {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 147, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.no-sidebar .main {
  overflow-x: hidden;
}

/* line 56, sass/application.scss */
form .clearfix {
  margin-bottom: 10px;
}
/* line 59, sass/application.scss */
form label {
  font-weight: bold;
}
/* line 65, sass/application.scss */
form label,
form input,
form select,
form textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
}
/* line 70, sass/application.scss */
form input[type=checkbox],
form input[type=radio] {
  cursor: pointer;
}
/* line 77, sass/application.scss */
form input[type=text],
form input[type=email],
form input[type=password],
form textarea,
form select {
  display: block;
  width: 210px;
  height: 18px;
  padding: 4px;
  font-size: 13px;
  line-height: 18px;
  color: #808080;
  border: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
/* line 89, sass/application.scss */
form input,
form textarea {
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
/* line 98, sass/application.scss */
form input:focus,
form textarea:focus {
  outline: 0;
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}
/* line 107, sass/application.scss */
form select,
form input[type=file] {
  height: 27px;
  line-height: 27px;
}
/* line 114, sass/application.scss */
form input[type=file]:focus,
form input[type=checkbox]:focus,
form select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 1px dotted #666;
}

/* line 122, sass/application.scss */
.well {
  background-color: #f5f5f5;
  margin-bottom: 20px;
  padding: 19px;
  min-height: 20px;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

/* line 138, sass/application.scss */
.fc-button-next,
.fc-button-prev,
.fc-button-today,
.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), color-stop(25%, white), to(#e6e6e6));
  background-image: -webkit-linear-gradient(white, white 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, white, white 25%, #e6e6e6);
  background-image: -ms-linear-gradient(white, white 25%, #e6e6e6);
  background-image: -o-linear-gradient(white, white 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  padding: 5px 14px 6px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333;
  font-size: 13px;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
}
/* line 167, sass/application.scss */
.fc-button-next:hover,
.fc-button-prev:hover,
.fc-button-today:hover,
.btn:hover {
  background-position: 0 -15px;
  color: #333;
  text-decoration: none;
}
/* line 172, sass/application.scss */
.fc-button-next:focus,
.fc-button-prev:focus,
.fc-button-today:focus,
.btn:focus {
  outline: 1px dotted #666;
}
/* line 175, sass/application.scss */
.fc-button-next.primary,
.fc-button-prev.primary,
.fc-button-today.primary,
.btn.primary {
  color: #ffffff;
  background-color: #0064cd;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
  background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
  background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
  background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
  background-image: -o-linear-gradient(top, #049cdb, #0064cd);
  background-image: linear-gradient(top, #049cdb, #0064cd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #0064cd #0064cd #003f81;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

/* line 193, sass/application.scss */
.topbar {
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  overflow: visible;
}
/* line 201, sass/application.scss */
.topbar a {
  color: #bfbfbf;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
/* line 205, sass/application.scss */
.topbar .topbar-inner {
  background-color: #222;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#333333), to(#222222));
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
/* line 219, sass/application.scss */
.topbar .topbar-inner .container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 221, sass/application.scss */
.topbar .topbar-inner .container .brand {
  float: left;
  display: block;
  padding: 8px 20px 12px;
  margin-left: -20px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 200;
  line-height: 1;
}
/* line 231, sass/application.scss */
.topbar .topbar-inner .container ul {
  display: block;
  float: left;
  margin: 0 10px 0 0;
  position: relative;
  left: 0;
}
/* line 237, sass/application.scss */
.topbar .topbar-inner .container ul > li {
  display: block;
  float: left;
}
/* line 240, sass/application.scss */
.topbar .topbar-inner .container ul > li a {
  display: block;
  float: none;
  padding: 10px 10px 11px;
  line-height: 19px;
  text-decoration: none;
}
/* line 249, sass/application.scss */
.topbar .topbar-inner .container #secondary-nav {
  display: inline;
  float: right;
}

/* line 256, sass/application.scss */
table {
  width: 100%;
  margin-bottom: 18px;
  padding: 0;
  font-size: 13px;
  border-collapse: collapse;
  border: 1px solid #ddd;
}
/* line 264, sass/application.scss */
table th,
table td {
  padding: 10px 10px 9px;
  line-height: 18px;
  text-align: left;
}
/* line 269, sass/application.scss */
table th {
  padding-top: 9px;
  font-weight: bold;
  vertical-align: middle;
}
/* line 274, sass/application.scss */
table td {
  vertical-align: top;
  border-top: 1px solid #ddd;
}
/* line 278, sass/application.scss */
table tbody th {
  border-top: 1px solid #ddd;
  vertical-align: top;
}
/* line 283, sass/application.scss */
table tbody tr:nth-child(odd) td,
table tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
/* line 287, sass/application.scss */
table tbody tr:hover td,
table tbody tr:hover th {
  background-color: #f5f5f5;
}

/* line 292, sass/application.scss */
.alert-message {
  position: relative;
  padding: 7px 15px;
  margin-bottom: 18px;
  color: #fff;
  background-color: #eedc94;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fceec1), to(#eedc94));
  background-image: -moz-linear-gradient(top, #fceec1, #eedc94);
  background-image: -ms-linear-gradient(top, #fceec1, #eedc94);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fceec1), color-stop(100%, #eedc94));
  background-image: -webkit-linear-gradient(top, #fceec1, #eedc94);
  background-image: -o-linear-gradient(top, #fceec1, #eedc94);
  background-image: linear-gradient(top, #fceec1, #eedc94);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fceec1', endColorstr='#eedc94', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #eedc94 #eedc94 #e4c652;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border-width: 1px;
  border-style: solid;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
/* line 317, sass/application.scss */
.alert-message p {
  margin: 0;
}
/* line 318, sass/application.scss */
.alert-message ul {
  padding-left: 20px;
}
/* line 320, sass/application.scss */
.alert-message.success, .alert-message.notice {
  background-color: #57a957;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -ms-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(top, #62c462, #57a957);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #57a957 #57a957 #3d773d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
/* line 336, sass/application.scss */
.alert-message.alert, .alert-message.error {
  background-color: #c43c35;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(top, #ee5f5b, #c43c35);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #c43c35 #c43c35 #882a25;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
/* line 352, sass/application.scss */
.alert-message .close {
  text-decoration: none;
  float: right;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  text-shadow: 0 1px 0 #ffffff;
  filter: alpha(opacity=25);
  -khtml-opacity: 0.25;
  -moz-opacity: 0.25;
  opacity: 0.25;
}
/* line 364, sass/application.scss */
.alert-message .close:hover {
  color: #000000;
  text-decoration: none;
  filter: alpha(opacity=40);
  -khtml-opacity: 0.4;
  -moz-opacity: 0.4;
  opacity: 0.4;
}

/* line 375, sass/application.scss */
.label {
  padding: 1px 3px 2px;
  font-size: 9.75px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: #bfbfbf;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
/* line 385, sass/application.scss */
.label.cancelled, .label.important {
  background-color: #c43c35;
}
/* line 388, sass/application.scss */
.label.pending {
  background-color: #f89406;
}
/* line 392, sass/application.scss */
.label.authorised, .label.success {
  background-color: #46a546;
}
/* line 395, sass/application.scss */
.label.notice {
  background-color: #62cffc;
}

/* line 401, sass/application.scss */
p {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  margin-bottom: 9px;
}

/* line 407, sass/application.scss */
p small {
  font-size: 11px;
  color: #bfbfbf;
}

/* line 416, sass/application.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #404040;
}

/* line 420, sass/application.scss */
h1 {
  margin-bottom: 18px;
  font-size: 30px;
  line-height: 36px;
}

/* line 425, sass/application.scss */
h1 small {
  font-size: 18px;
}

/* line 428, sass/application.scss */
h2 {
  font-size: 24px;
  line-height: 36px;
}

/* line 432, sass/application.scss */
h2 small {
  font-size: 14px;
}

/* line 438, sass/application.scss */
h3,
h4,
h5,
h6 {
  line-height: normal;
}

/* line 441, sass/application.scss */
h3 {
  font-size: 18px;
}

/* line 444, sass/application.scss */
h4 {
  font-size: 16px;
}

/* line 447, sass/application.scss */
h5 {
  font-size: 14px;
}

/* line 450, sass/application.scss */
h6 {
  font-size: 13px;
  color: #bfbfbf;
  text-transform: uppercase;
}

/* line 456, sass/application.scss */
#user-info {
  padding: 10px;
  background-color: #f5f5f5;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f5f5f5));
  background-image: -moz-linear-gradient(#f9f9f9, #f5f5f5);
  background-image: -ms-linear-gradient(#f9f9f9, #f5f5f5);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #f5f5f5));
  background-image: -webkit-linear-gradient(#f9f9f9, #f5f5f5);
  background-image: -o-linear-gradient(#f9f9f9, #f5f5f5);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f5f5f5', GradientType=0)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f5f5f5', GradientType=0);
  background-image: linear-gradient(#f9f9f9, #f5f5f5);
  border: 1px solid #eee;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  *zoom: 1;
}
/* line 471, sass/application.scss */
#user-info h3 {
  margin-top: 0;
}
/* line 472, sass/application.scss */
#user-info .gravatar-wrapper {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 110px;
}
/* line 147, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #user-info .gravatar-wrapper {
  overflow-x: hidden;
}
/* line 475, sass/application.scss */
#user-info .user-info-wrapper {
  display: inline;
  float: left;
  margin-right: 0;
  width: 470px;
}
/* line 147, ../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #user-info .user-info-wrapper {
  overflow-x: hidden;
}
/* line 483, sass/application.scss */
#user-info form label,
#user-info form select,
#user-info form #days-remaining-wrapper {
  display: inline;
  float: left;
  line-height: 25px;
  margin-right: 10px;
}
/* line 487, sass/application.scss */
#user-info form label span,
#user-info form select span,
#user-info form #days-remaining-wrapper span {
  font-weight: bold;
}

/* line 494, sass/application.scss */
img.gravatar {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

/* line 506, sass/application.scss */
tr.user form div.string,
tr.user form input[type="submit"] {
  float: left;
  margin-right: 10px;
}
/* line 512, sass/application.scss */
tr.user form input[type="submit"] {
  margin: 0;
}
/* line 515, sass/application.scss */
tr.user form input.update-working-days {
  width: 25px;
  text-align: center;
}

/* line 525, sass/application.scss */
#calendar table {
  border: none;
}
/* line 528, sass/application.scss */
#calendar table tr.fc-last td {
  border-bottom: 1px solid #ddd;
}
/* line 532, sass/application.scss */
#calendar table.fc-header {
  border: none;
}
/* line 536, sass/application.scss */
#calendar table.fc-header tbody tr:nth-child(odd) td,
#calendar table.fc-header tbody tr:nth-child(odd) th {
  background-color: inherit;
}
/* line 540, sass/application.scss */
#calendar table.fc-header td {
  border-top: none;
}
/* line 545, sass/application.scss */
#calendar table.fc-border-separate td {
  border: 1px solid #ddd;
  border-width: 1px 0 0 1px;
}
/* line 548, sass/application.scss */
#calendar table.fc-border-separate td.fc-last {
  border-right: 1px solid #ddd;
}
/* line 553, sass/application.scss */
#calendar table td.fc-today {
  background-color: #FEFBF3;
}
/* line 557, sass/application.scss */
#calendar .fc-event {
  cursor: pointer;
}
/* line 561, sass/application.scss */
#calendar .fc-header-left .fc-button {
  border: 1px solid #ddd;
  padding: 0 14px;
}
/* line 565, sass/application.scss */
#calendar .fc-header-left .fc-button-today {
  text-transform: capitalize;
}
/* line 568, sass/application.scss */
#calendar .fc-header-left .fc-button-prev {
  -moz-border-radius: 8px 0 0 8px;
  -webkit-border-radius: 8px 0 0 8px;
  -o-border-radius: 8px 0 0 8px;
  -ms-border-radius: 8px 0 0 8px;
  -khtml-border-radius: 8px 0 0 8px;
  border-radius: 8px 0 0 8px;
}
/* line 570, sass/application.scss */
#calendar .fc-header-left .fc-button-prev .fc-button-inner {
  background: transparent url(../images/arrow.png) no-repeat 0 4px;
}
/* line 574, sass/application.scss */
#calendar .fc-header-left .fc-button-next {
  -moz-border-radius: 0 8px 8px 0;
  -webkit-border-radius: 0 8px 8px 0;
  -o-border-radius: 0 8px 8px 0;
  -ms-border-radius: 0 8px 8px 0;
  -khtml-border-radius: 0 8px 8px 0;
  border-radius: 0 8px 8px 0;
}
/* line 576, sass/application.scss */
#calendar .fc-header-left .fc-button-next .fc-button-inner {
  background: transparent url(../images/arrow.png) no-repeat 0 4px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}
