<%= content_for :javascripts do %>
  <%= javascript_include_tag 'jquery.reveal', 'user-days' %>
<% end %>

<%= content_tag :h2, calendar_year(@selected_year) %>
<div id="user_days_holder">
  <%= render :partial => "user_days_table" %>
</div>
