<%- flash.each do |name, msg| -%>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
    <br/>
<%- end -%>
<% unless user_signed_in? %>
    <div id="signin">
      <% unless user_signed_in? -%>
          <%= link_to 'Register ', new_user_registration_path %>
          <%= link_to 'Sign in', new_user_session_path %>
      <% end -%>
    </div>
<% end %>

<div id="holiday_image">
  <h1>Holiday Thyme</h1>
</div>

