<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h1><%= @user.full_name %> has requested some time off</h1>

<p>
  From: <%= @holiday.date_from.strftime("%d/%m/%y") %> to <%= @holiday.date_to.strftime("%d/%m/%y") %>
</p>
<p>
To authorize, follow the link to <%= I18n.t('app_url') %>
</p>
</body>
</html>
