<div id="user-holidays">
  <% if @absences.present? %>
      <table id="holidays" style="visibility: visible;">
        <thead>
	       	<th>Absence Type</th>
	        <th>Start date</th>
	        <th>End date</th>
	        <th>Description</th>
	        <th>Working days used</th>
	        <th>Status</th>
	        <th>&nbsp;</th>
        </thead>
        <tbody>
        <% @absences.each do |absence| %>
            <%= create_absence_row(absence) %>
        <% end %>
        </tbody>
      </table>
  <% else %>
      <p>You have no holidays planned for this calendar year yet.</p>
      <table id="absences" style="visibility: hidden;">
        <thead>
	        <th>Absence Type</th>
	        <th>Start date</th>
	        <th>End date</th>
	        <th>Description</th>
	        <th>Working days used</th>
	        <th>Status</th>
	        <th>&nbsp;</th>
        </thead>
        <tbody>
        </tbody>
      </table>
  <% end %>
</div>
