<div id="report-absences">
	<table id="absences">
		<thead>
			<th>Absence Type</th>
			<th>Start date</th>
			<th>End date</th>
			<th>Description</th>
			<th>Working days</th>
			<th>Status</th>
		</thead>
		<tbody>
			 content_tag_for :tr, absence do
      content_tag(:td, absence.absence_type.name) +
        content_tag(:td, show_date_with_details(absence)) +
        content_tag(:td, show_date_with_details(absence, false)) +
        content_tag(:td, absence.description) +
        content_tag(:td, absence.working_days_used) +
        content_tag(:td, holiday_status(absence)) +
        content_tag(:td, :class => "actions") do
        link_to('Delete', absence_path(absence), :method => :delete, :data => {:confirm => 'Are you sure you want to delete this request?'}, :remote => true)
          end
			<% @absences.each do |absence| %>

				<tr>


				</tr>
			<% end %>
		</tbody>
	</table>
</div>