<tr style="text-decoration:underline">
	<td>HOLIDAYS</td>
	<td></td>
	<td>Taken</td>
	<td>Pending</td>
	<td>Authorised</td>
	<td>Unbooked</td>
	<td></td>
</tr>
<tr>
	<td></td>
	<td></td>
	<td><%= user_holidays_taken user%></td>
	<td><%= user_holidays_pending user%></td>
	<td><%= user_holidays_authorised user%></td>
	<td><%= user_holidays_unbooked user %></td>
	<td></td>
</tr>
<tr>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>
